.header {
  width: 100%;
  height: 400px;
  padding: 0;
  color: white;
  background-image: url(../../img/beautiful-car-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 10% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p {
  font-style: italic;
  font-weight: bold;
}
