.header {
  width: 100%;
  height: 400px;
  padding: 0;
  color: white;
  background-color: #65587f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header p {
  font-style: italic;
  font-weight: bold;
}
