.container {
  margin: 0;
 background-color: white
  );
}
.carItems {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto;
  padding: 250px 50px;
  grid-gap: 50px;
}

.carItems p {
  font-style: italic;
  font-weight: bold;
}
